.board {
	border: 1px solid #eee;
	margin: 50px auto;
	width: 300px;
} 
 

.empty,
.player-o
.player-x
 {
	border: 1px solid #eee;
  float: left;
  font-size: 80px;
  font-weight: bold;
  height: 98px;
  line-height: 98px;
  text-align: center;
  width: 98px;
  text-transform: uppercase;
}



.player-o { color: ForestGreen; }
.player-x { color: DarkRed; }

h1, p {
	text-align: center;
}